* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    touch-action: none;
}

*:active,
*:focus {
    outline: none;
}

.no-js .owl-carousel {
	display: block;
}

@font-face {
    font-family: "TTSquaresCondensed-Thin";
    src: url("../fonts/TypeType - TTSquaresCondensed-Thin.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("../fonts/TypeType - TTSquaresCondensed-Thin.woff") format("woff");
}

@font-face {
    font-family: "TTSquaresCondensed-Bold";
    src: url("../fonts/TypeType - TTSquaresCondensed-Bold.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("../fonts/TypeType - TTSquaresCondensed-Bold.woff") format("woff");
}

body {
    width: 100vw;
    height: 100vh;
    font: .87rem/1.05rem "TTSquaresCondensed-Thin", Arial, sans-serif;
    color: #5d5d5d;
}

@media screen and (min-width: 1920px) {
    body {
        font: 18px/30px "TTSquaresCondensed-Thin", Arial, sans-serif;
    }
}

@import 'blocks/*.scss';
